.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: -100;
    position: absolute;
    transform: translateY(-30px);
    pointer-events: none;
    padding: 48px 16px 0;
}

    .page.show {
        z-index: 1;
        pointer-events: all;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

@media only screen and (min-width: 800px) {
}

.black-bg {
    background-color: black;
}

.green-bg {
    background-color: #cdfe00;
}

.page.dashboard {
    padding: 70px 128px 150px;
}

.page .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

.page .score-display {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #cdfe00;
}

.black-bg .header {
    border-bottom: 1px solid #cdfe00;
}

.green-bg .header {
    border-bottom: 1px solid black;
}

.page .body {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s;
}

    .page .body.minimize {
        flex: initial;
    }

    .page .body h1, .page .body h6 {
        transition: 0.5s;
    }

.scoreboard-row {
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
}

.save-button:hover, .save-button:active {
    background-color: #cdfe00;
}

.page .footer {
    width: 100%;
    transition: 0.5s;
    padding: 10px;
}

.maximize, .minimize {
    transition: 0.5s;
}

.page .maximize {
    flex: 1;
    transform: scaleY(1) !important;
}

.black-bg-on-maximize.maximize {
    background-color: black;
}

.hide-on-maximize, .show-on-maximize, hide-on-minimize {
    transition: 0.5s;
}

.hide-on-minimize.minimize {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}

.show-on-maximize {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}

.hide-on-maximize.maximize {
    opacity: 0;
}

.show-on-maximize.maximize {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.scale-down-on-minimize.minimize {
    transform: scale(0.8);
    margin-top: 20px
}

.hide {
    visibility: hidden;
}

.save-button {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 13px 25px;
    border: none;
    outline: none;
    color:black;
    transition: background-color 0.4s ease;
    background-color: #CDFE00;
}

    .save-button.disabled {
        background-color: #A8A8A8;
    }

.setting-button {
    display: flex;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

    .setting-button div {
        background-image: url(/imgs/gear-icon.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
    }

    .setting-button.dark {
        color: #cdfe00;
    }

        .setting-button.dark div {
            background-image: url(/imgs/gear-light-icon.svg);
        }


@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.footer.border-top-green {
    border-top: 1px solid #cdfe00;
}

.waiting-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: #000;
    text-align: center;
}

.black-bg .waiting-message {
    color: #cdfe00;
}

.waiting-message .loading-icon {
    height: 52px;
    width: 52px;
    background-image: url(/imgs/loading-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    animation: 3s infinite alternate linear rotate;
    animation-direction: normal;
}

.black-bg .waiting-message .loading-icon {
    background-image: url(/imgs/loading-icon-green.svg);
}

.waiting-message h1 {
    font-size: 36px;
    font-weight: 600;
}

.waiting-message h6 {
    font-size: 18px;
}
