<div class="page padded black-bg @(Visible ? "show" : "")">
    <div class="header">
        <img src="/imgs/untitld logo green.svg" style="max-width:150px;" />
    </div>

    <div class="body">
        <div>
            <h1 class="greet" style="color:white; text-align:center;">Welcome to <br /> untitld game</h1>
        </div>

        <div class="display-name-chooser">
            <label for="name-input">Choose your display name</label>
            <input id="name-input" placeholder="e.g. Ahmed Helicopter" @bind-value="Name" @bind-value:event="oninput" class="display-name-input" type="text" maxlength="30" minlength="@MinNameLength" />

            <div class="sub-text @(Name != null && Name.Length >= MinNameLength ? "visible" : "")">What a great name</div>
        </div>

        <div style="justify-content:center; display:flex;">
            <button class="save-button @(Name?.Length >= MinNameLength ? "" : "disabled")" @onclick="SubmitName">Submit</button>
        </div>
    </div>
</div>

<style>

    .greet {
        font-size: 36px;
    }

    .display-name-input {
        border: none;
        outline: none;
        background: none;
        width: 100%;
        color: #CDFE00;
        border-bottom: 1px solid #CDFE00;
        font-size: 18px;
        border-radius: 0;
    }

    .display-name-chooser label {
        font-size: 18px;
        color: #fff;
        margin-bottom: 22px;
    }

    .display-name-chooser #name-input {
        padding: 8px 0;
        text-transform: capitalize;
    }

    .display-name-chooser .sub-text {
        color: #A8A8A8;
        margin-top: 10px;
        font-size: 14px;
        opacity: 0;
        visibility: hidden;
    }

        .display-name-chooser .sub-text.visible {
            transition: opacity 1.5s ease;
            visibility: visible;
            opacity: 1;
        }

</style>

@code {
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<string> NameSaved { get; set; }

    private string? Name = null;

    private int? NameLength = null;

    private int MinNameLength = 3;

    [Parameter]
    public Data.Player? Player { get; set; }

    private void OnValueChange(ChangeEventArgs e)
    {
        Console.WriteLine(e.Value);
    }

    private async Task SubmitName()
    {
        if (Name?.Length >= MinNameLength)
        {
            try
            {
                var name = char.ToUpper(Name[0]) + Name.Substring(1);
                await this.NameSaved.InvokeAsync(name);
            }
            catch (Exception)
            {
                await this.NameSaved.InvokeAsync(Name);
            }

        }
    }
}